# Load data from Johns Hopkins

In [1]:
import pandas as pd
import numpy as np

### Data are updated once a day around 23:59 (UTC), except cases_country with hourly update.

In [2]:
confirmed_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"
deaths_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv"
recovered_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv"
us_confirmed_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv"
us_death_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv"
country_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/web-data/data/cases_country.csv"

In [3]:
confirmed_df = pd.read_csv(confirmed_url)
confirmed_df.sample(5)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/21/21,3/22/21,3/23/21,3/24/21,3/25/21,3/26/21,3/27/21,3/28/21,3/29/21,3/30/21
117,NaN,Finland,61.92411,25.748151,0,0,0,0,0,0,...,71643,72073,72713,73516,74242,74754,75545,76003,76425,76845
112,NaN,Eritrea,15.17940,39.782300,0,0,0,0,0,0,...,3118,3118,3118,3183,3192,3208,3208,3208,3251,3279
108,NaN,Ecuador,-1.83120,-78.183400,0,0,0,0,0,0,...,312598,312851,313570,316807,318656,321451,322699,324482,325124,327325
70,Hong Kong,China,22.30000,114.200000,0,2,2,5,8,8,...,11379,11397,11409,11419,11428,11439,11445,11446,11454,11461
224,NaN,Seychelles,-4.67960,55.492000,0,0,0,0,0,0,...,3770,3798,3798,3882,3882,3996,3996,4084,4114,4114

### Data collection starts at 22.Jan 2020, up to the current day

In [4]:
confirmed_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274 entries, 0 to 273
Columns: 438 entries, Province/State to 3/30/21
dtypes: float64(2), int64(434), object(2)
memory usage: 937.7+ KB

In [5]:
confirmed_df.describe()

,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,3/21/21,3/22/21,3/23/21,3/24/21,3/25/21,3/26/21,3/27/21,3/28/21,3/29/21,3/30/21
count,273.000000,273.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,...,2.740000e+02,2.740000e+02,2.740000e+02,2.740000e+02,2.740000e+02,2.740000e+02,2.740000e+02,2.740000e+02,2.740000e+02,2.740000e+02
mean,20.534804,23.028143,2.032847,2.390511,3.434307,5.229927,7.729927,10.682482,20.357664,22.507299,...,4.499072e+05,4.514278e+05,4.533041e+05,4.556174e+05,4.579941e+05,4.603342e+05,4.624650e+05,4.641819e+05,4.658568e+05,4.679302e+05
std,25.194592,73.596166,26.879101,26.977077,33.585238,46.743494,65.324493,88.014971,215.981285,217.304706,...,2.143174e+06,2.148170e+06,2.154111e+06,2.162363e+06,2.169965e+06,2.177756e+06,2.184767e+06,2.189952e+06,2.195949e+06,2.202625e+06
min,-51.796300,-178.116500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,5.152149,-19.020800,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.018750e+03,1.020250e+03,1.020250e+03,1.021000e+03,1.021000e+03,1.021500e+03,1.025250e+03,1.031250e+03,1.043750e+03,1.043750e+03
50%,21.694000,20.939400,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.396950e+04,1.396950e+04,1.396950e+04,1.443450e+04,1.443450e+04,1.443450e+04,1.443450e+04,1.443450e+04,1.443450e+04,1.443450e+04
75%,41.112900,84.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.877745e+05,1.887062e+05,1.902122e+05,1.919832e+05,1.936948e+05,1.954990e+05,1.973580e+05,1.983818e+05,1.989432e+05,1.995325e+05
max,71.706900,178.065000,444.000000,444.000000,549.000000,761.000000,1058.000000,1423.000000,3554.000000,3554.000000,...,2.982041e+07,2.987198e+07,2.992557e+07,3.001252e+07,3.007997e+07,3.015728e+07,3.021935e+07,3.026304e+07,3.033246e+07,3.039370e+07

In [6]:
deaths_df = pd.read_csv(deaths_url)
deaths_df.sample(5)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/21/21,3/22/21,3/23/21,3/24/21,3/25/21,3/26/21,3/27/21,3/28/21,3/29/21,3/30/21
201,NaN,Norway,60.4720,8.4689,0,0,0,0,0,0,...,648,649,649,656,656,656,656,656,660,661
127,St Martin,France,18.0708,-63.0501,0,0,0,0,0,0,...,12,12,12,12,12,12,12,12,12,12
27,NaN,Bolivia,-16.2902,-63.5887,0,0,0,0,0,0,...,12060,12074,12093,12107,12131,12143,12165,12186,12211,12239
89,Yunnan,China,24.9740,101.4870,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2
44,New Brunswick,Canada,46.5653,-66.4619,0,0,0,0,0,0,...,30,30,30,30,30,30,30,30,30,30

In [7]:
deaths_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274 entries, 0 to 273
Columns: 438 entries, Province/State to 3/30/21
dtypes: float64(2), int64(434), object(2)
memory usage: 937.7+ KB

In [8]:
deaths_df.describe()

,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,3/21/21,3/22/21,3/23/21,3/24/21,3/25/21,3/26/21,3/27/21,3/28/21,3/29/21,3/30/21
count,273.000000,273.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,...,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000
mean,20.534804,23.028143,0.062044,0.065693,0.094891,0.153285,0.204380,0.299270,0.478102,0.485401,...,9911.956204,9938.737226,9979.164234,10014.437956,10056.361314,10100.843066,10136.572993,10160.164234,10189.182482,10231.375912
std,25.194592,73.596166,1.027008,1.028562,1.451957,2.417550,3.142847,4.592341,7.551622,7.552125,...,42856.327823,42937.312140,43090.457220,43234.074990,43406.150157,43584.724894,43731.233417,43812.597722,43906.987548,44077.357752
min,-51.796300,-178.116500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.152149,-19.020800,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,7.000000,7.000000,7.000000,7.000000,7.000000,7.250000,7.250000,7.250000,7.250000,7.250000
50%,21.694000,20.939400,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,180.500000,181.000000,181.000000,181.000000,181.000000,181.000000,181.000000,181.000000,181.000000,182.000000
75%,41.112900,84.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2986.000000,2988.250000,2991.250000,2992.000000,2992.000000,3000.750000,3003.000000,3003.000000,3003.000000,3011.750000
max,71.706900,178.065000,17.000000,17.000000,24.000000,40.000000,52.000000,76.000000,125.000000,125.000000,...,542626.000000,543188.000000,544036.000000,545492.000000,547051.000000,548172.000000,548913.000000,549420.000000,550121.000000,550996.000000

In [9]:
recovered_df = pd.read_csv(recovered_url)
recovered_df.sample(5)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/21/21,3/22/21,3/23/21,3/24/21,3/25/21,3/26/21,3/27/21,3/28/21,3/29/21,3/30/21
41,NaN,Chad,15.4542,18.7322,0,0,0,0,0,0,...,4017,4045,4059,4072,4080,4094,4099,4109,4110,4137
154,NaN,Lithuania,55.1694,23.8813,0,0,0,0,0,0,...,194292,194345,195115,195551,196067,196504,197529,197618,197679,198588
9,New South Wales,Australia,-33.8688,151.2093,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
103,French Guiana,France,3.9339,-53.1258,0,0,0,0,0,0,...,9995,9995,9995,9995,9995,9995,9995,9995,9995,9995
111,Saint Pierre and Miquelon,France,46.8852,-56.3159,0,0,0,0,0,0,...,24,24,24,24,24,24,24,24,24,24

In [10]:
recovered_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259 entries, 0 to 258
Columns: 438 entries, Province/State to 3/30/21
dtypes: float64(2), int64(434), object(2)
memory usage: 886.4+ KB

In [11]:
recovered_df.describe()

,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,3/21/21,3/22/21,3/23/21,3/24/21,3/25/21,3/26/21,3/27/21,3/28/21,3/29/21,3/30/21
count,259.000000,259.000000,259.000000,259.000000,259.000000,259.000000,259.000000,259.000000,259.000000,259.000000,...,2.590000e+02,2.590000e+02,2.590000e+02,2.590000e+02,2.590000e+02,2.590000e+02,2.590000e+02,2.590000e+02,2.590000e+02,2.590000e+02
mean,19.102739,28.495821,0.115830,0.123552,0.150579,0.162162,0.216216,0.250965,0.416988,0.490347,...,2.695106e+05,2.708026e+05,2.720117e+05,2.733076e+05,2.745115e+05,2.759192e+05,2.770977e+05,2.783671e+05,2.795426e+05,2.808215e+05
std,24.640880,70.936043,1.743788,1.747697,1.940118,2.005022,2.641273,2.839838,5.005023,5.505010,...,1.056005e+06,1.061940e+06,1.066029e+06,1.071255e+06,1.075752e+06,1.080969e+06,1.085416e+06,1.089808e+06,1.093001e+06,1.098028e+06
min,-51.796300,-178.116500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,4.715658,-8.826999,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,8.540000e+02,8.540000e+02,8.540000e+02,8.540000e+02,8.565000e+02,8.565000e+02,8.645000e+02,8.645000e+02,8.645000e+02,8.645000e+02
50%,19.856270,24.603200,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,8.779000e+03,8.779000e+03,9.002000e+03,9.002000e+03,9.330000e+03,9.330000e+03,9.391000e+03,9.454000e+03,9.594000e+03,9.594000e+03
75%,39.018950,90.394950,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.399290e+05,1.403510e+05,1.408400e+05,1.418970e+05,1.427710e+05,1.435825e+05,1.439630e+05,1.451285e+05,1.460390e+05,1.468215e+05
max,71.706900,178.065000,28.000000,28.000000,31.000000,32.000000,42.000000,45.000000,80.000000,88.000000,...,1.115147e+07,1.118125e+07,1.120516e+07,1.123165e+07,1.126464e+07,1.129502e+07,1.132376e+07,1.135599e+07,1.139302e+07,1.143430e+07

In [12]:
us_confirmed_df = pd.read_csv(us_confirmed_url)
us_confirmed_df.sample(5)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,3/21/21,3/22/21,3/23/21,3/24/21,3/25/21,3/26/21,3/27/21,3/28/21,3/29/21,3/30/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,6513,6517,6525,6533,6540,6543,6562,6570,6577,6580
536,84013257,US,USA,840,13257.0,Stephens,Georgia,US,34.551512,-83.294053,...,3020,3022,3027,3030,3033,3036,3037,3038,3037,3038
3072,84051099,US,USA,840,51099.0,King George,Virginia,US,38.268185,-77.158528,...,1484,1488,1488,1492,1499,1507,1515,1516,1521,1521
2498,84045027,US,USA,840,45027.0,Clarendon,South Carolina,US,33.666110,-80.216479,...,3217,3217,3219,3220,3247,3284,3289,3292,3294,3295
1079,84021097,US,USA,840,21097.0,Harrison,Kentucky,US,38.441882,-84.328697,...,1569,1570,1575,1582,1594,1594,1594,1597,1597,1598

In [13]:
us_death_df = pd.read_csv(us_death_url)
us_death_df.sample(5)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,3/21/21,3/22/21,3/23/21,3/24/21,3/25/21,3/26/21,3/27/21,3/28/21,3/29/21,3/30/21
265,84008019,US,USA,840,8019.0,Clear Creek,Colorado,US,39.688645,-105.646312,...,2,2,2,2,2,2,2,2,2,2
2051,84037173,US,USA,840,37173.0,Swain,North Carolina,US,35.486658,-83.487489,...,16,16,16,16,16,16,16,16,16,16
738,84018019,US,USA,840,18019.0,Clark,Indiana,US,38.480154,-85.705103,...,184,184,185,185,186,186,186,186,187,187
2887,84048377,US,USA,840,48377.0,Presidio,Texas,US,29.999544,-104.240808,...,24,24,24,24,24,24,24,24,24,24
602,84016047,US,USA,840,16047.0,Gooding,Idaho,US,42.969280,-114.810831,...,24,24,24,24,24,24,24,24,24,24

In [14]:
us_death_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3340 entries, 0 to 3339
Columns: 446 entries, UID to 3/30/21
dtypes: float64(3), int64(437), object(6)
memory usage: 11.4+ MB

In [15]:
us_death_df.describe()

,UID,code3,FIPS,Lat,Long_,Population,1/22/20,1/23/20,1/24/20,1/25/20,...,3/21/21,3/22/21,3/23/21,3/24/21,3/25/21,3/26/21,3/27/21,3/28/21,3/29/21,3/30/21
count,3.340000e+03,3340.000000,3330.000000,3340.000000,3340.000000,3.340000e+03,3340.0,3340.0,3340.0,3340.0,...,3340.000000,3340.000000,3340.000000,3340.000000,3340.000000,3340.000000,3340.000000,3340.000000,3340.000000,3340.000000
mean,8.342958e+07,834.491617,33061.684685,36.707212,-88.601474,9.966039e+04,0.0,0.0,0.0,0.0,...,162.462874,162.631138,162.885030,163.320958,163.787725,164.123353,164.345210,164.497006,164.706886,164.968862
std,4.315345e+06,36.498055,18638.940791,9.062922,21.718982,3.242549e+05,0.0,0.0,0.0,0.0,...,646.218880,646.735547,648.015969,650.320781,652.121325,653.382195,654.319986,655.157829,655.767540,656.477373
min,1.600000e+01,16.000000,60.000000,-14.271000,-174.159600,0.000000e+00,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8.401811e+07,840.000000,19079.500000,33.895587,-97.790204,9.928500e+03,0.0,0.0,0.0,0.0,...,14.000000,14.000000,14.000000,14.000000,14.000000,14.000000,14.000000,14.000000,14.000000,14.000000
50%,8.402921e+07,840.000000,31014.000000,38.002344,-89.486710,2.491100e+04,0.0,0.0,0.0,0.0,...,41.000000,41.000000,41.000000,41.000000,41.000000,41.000000,42.000000,42.000000,42.000000,42.000000
75%,8.404612e+07,840.000000,47130.500000,41.573069,-82.311265,6.499800e+04,0.0,0.0,0.0,0.0,...,101.000000,101.000000,101.000000,101.000000,101.250000,102.000000,102.000000,102.000000,102.000000,102.000000
max,8.410000e+07,850.000000,99999.000000,69.314792,145.673900,1.003911e+07,0.0,0.0,0.0,0.0,...,22797.000000,22815.000000,22879.000000,22965.000000,23022.000000,23056.000000,23080.000000,23103.000000,23101.000000,23111.000000

In [16]:
country_df = pd.read_csv(country_url)
country_df.sample(5)

,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,UID,ISO3
112,Mauritania,2021-03-31 21:26:52,21.007900,-10.940800,17824.0,449.0,17072.0,303.0,383.339857,NaN,NaN,2.519075,478,MRT
56,Eritrea,2021-03-31 21:26:52,15.179400,39.782300,3285.0,10.0,3029.0,246.0,92.628440,NaN,NaN,0.304414,232,ERI
22,Botswana,2021-03-31 21:26:52,-22.328500,24.684900,39848.0,568.0,36958.0,2322.0,1694.487854,NaN,NaN,1.425417,72,BWA
37,Colombia,2021-03-31 21:26:52,4.570900,-74.297300,2397731.0,63255.0,2279840.0,54636.0,4712.254518,NaN,NaN,2.638119,170,COL
176,Tunisia,2021-03-31 21:26:52,33.886917,9.537499,254018.0,8812.0,217293.0,27913.0,2149.303751,NaN,NaN,3.469046,788,TUN

In [17]:
country_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192 entries, 0 to 191
Data columns (total 14 columns):
Country_Region         192 non-null object
Last_Update            192 non-null object
Lat                    190 non-null float64
Long_                  190 non-null float64
Confirmed              192 non-null float64
Deaths                 192 non-null float64
Recovered              188 non-null float64
Active                 191 non-null float64
Incident_Rate          190 non-null float64
People_Tested          0 non-null float64
People_Hospitalized    0 non-null float64
Mortality_Rate         192 non-null float64
UID                    192 non-null int64
ISO3                   190 non-null object
dtypes: float64(10), int64(1), object(3)
memory usage: 21.1+ KB

In [18]:
country_df.describe()

,Lat,Long_,Confirmed,Deaths,Recovered,Active,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,UID
count,190.000000,190.000000,1.920000e+02,192.000000,1.880000e+02,1.910000e+02,190.000000,0.0,0.0,192.000000,192.000000
mean,19.515850,19.770528,6.699842e+05,14632.572917,3.881751e+05,1.201592e+05,2683.784619,NaN,NaN,2.050597,518.145833
std,23.914666,62.027648,2.614132e+06,52175.770021,1.277051e+06,5.093460e+05,3234.728237,NaN,NaN,2.402355,953.673240
min,-40.900600,-172.104600,1.000000e+00,0.000000,1.000000e+00,0.000000e+00,0.673488,NaN,NaN,0.000000,4.000000
25%,4.643279,-6.706225,8.020000e+03,109.000000,5.034250e+03,3.705000e+02,154.959417,NaN,NaN,0.991896,207.000000
50%,17.589241,20.535638,8.016050e+04,931.000000,4.877500e+04,4.994000e+03,1310.412582,NaN,NaN,1.678480,424.000000
75%,40.383525,46.701734,3.020812e+05,6215.250000,2.199710e+05,3.209300e+04,4741.089072,NaN,NaN,2.511839,649.250000
max,64.963100,178.065000,3.045206e+07,551863.000000,1.143430e+07,4.307798e+06,15543.907332,NaN,NaN,22.222222,9999.000000

## Conclusion

The first six dataframes contain time series, and we could use them to forecast the evolution of the pandemic. The country_df dataframe contains the last snapshot (last hour) with cumulated data, and we can use it to identify the worst affected countries.